
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Translations
*.mo

# Environments
.env
.venv
.env/
.venv/
env/
venv/

# PyCharm stuff
.idea/

# Redis stuff
dump.rdb
